.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  height: 100vh;
  /* background: linear-gradient(.25turn, #F4FDFF, #d4d6d6, #F4FDFF); */
  background-color:#0c0412;
  color: #A188BE;
  /* overflow: hidden; */
}

.text {
  color: #A188BE;
  /* height: 50px;
  width: 50px; */
}

.content {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* FOR HOMEPAGE STYLING */
/* shelving */
.shelfEdge {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #F4FDFF;
  border-bottom: #897C80;
  border-top: #897C80;
  border-bottom: 1px solid #d4d6d6;
  border-top: 1px solid #d4d6d6;
}

.topShelf {
  top: 90px;
}

.bottomShelf {
  top: 712px;
  background: linear-gradient(.50turn, #F4FDFF, 50%, #bcc1c1)
}

.shelfShadow { /*trapezpis shape*/ 
  position: relative;
  border-bottom: 60px solid #bdbcbf;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
  right: 0px;
  left:0px
}

.topShelfShadow {
  top: 90px;
  rotate: 180deg;
}

.bottomShelfShadow {
  top: 713px;
}

.vert {
  vertical-align: top;
  border-left: 1px solid #897C80;
  position:absolute;
  height: 700px;
  width: 0px;
  top: 210px;
}

.vertLineL {
  left: 69px;
}

.vertLineR {
  right: 69px;
}

/* house */
.container {
  top: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  width: 820px;
  left:20px;
  right: 30px;
  position: relative;
  margin: 0 auto;
}

.house {
  position: absolute;
  bottom: 60px;
  height: 470px;
  width: 776px;
  background: #A188BE;
  /* box-shadow: 0px -3px 7px 0px #746784; */
  box-shadow: 0px 1px 18px 7px #9f42f1;
  z-index: 3;
}
.house::before {
  content: '';
  position: absolute;
  top: -274px;
  left: 12.5%;
  height: 547px;
  width: 547.5px;
  background: #A188BE;             
  background: linear-gradient(315deg, #A188BE 60%,#866da3, #553f6e); 
  transform: rotate(45deg);
  border-top: 32px solid #876ea4;
  border-left: 32px solid #876ea4;
  box-shadow: -5px -3px 18px 7px #9f42f1;
  z-index: 1;
}
.house::after {
  content: '';
  position: absolute;
  top: -140px;
  left: 4%;
  height: 100px;
  width: 70px;
  background: #876ea4;
  /* z-index: 1; */
  border-top: 7px solid #876ea4;
  box-shadow: -3px -7px 17px 2px #9f42f1;
}
.houseDetails {
  content: "";
  height: 50px;
  width: 776px;
  background-color: #49325a;
  position: absolute;
  z-index: 5;
  bottom: 0px;
}
.houseDetails::before {
  content: "";
  position: absolute;
  border-bottom: 40px solid #332b39;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
  bottom: 48px;
  right: 0px;
  left:0px;
  z-index: 5;
}
.houseDetails::after {
  content: "";
    display: flex;
    height: 360px;
    width: 756px;
    left: 8px;
    top: -395px; 
    background: linear-gradient(180deg, #A188BE 40%,#866da3, #553f6e);
    position: absolute;
}

.houseWalls { /*inside house shadow left*/
  content: "";
  position: absolute;
  border-bottom: 28px solid #553f6e;
  border-left: 5px solid transparent;
  border-right: 43px solid transparent;
  width: 340px;
  height: 0px;
  top: 220px;
  left: -182px;
  text-align: left;
  rotate: 90deg;
  z-index: 5;
}

.houseWalls::before {
  content: "";
  position: absolute;
  top: -637px;
  left: -280px;
  height: 519px;
  width: 520.5px;
  background: transparent;        
  transform: rotate(315deg);
  border-top: 32px solid #5e4080; /*553f6e 603e87*/
  border-left: 32px solid #5e4080;
  z-index: 5;
}
.houseWalls::after {
  content: "";
  position: absolute;
  border-bottom: 28px solid #553f6e;
  border-left: 43px solid transparent;
  border-right: 5px solid transparent;
  width: 340px;
  height: 0px;
  bottom: 726px;
  left: -8px;
  text-align: left;
  rotate: 180deg;
  /* z-index: 5; */
}

/* OPTIONS FOR WEBSITE */
.optionContainer {
  top: 25px;
  width: fit-content;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.option {
  margin: 140px 15px 0px 15px;
  width: 170px;
  height: 150px;
  padding: 10px;
  position: relative;
  /* box-shadow: 0px 0px 11px 4px #746784; */
  box-shadow: -1px 1px 12px 7px #746784;
  border-radius: 5px;
  background-color: #332b39d2;
}

.TV {
  /* background-color: #e7dbf3; */
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mag {
  /* background-color: #e7dbf3; */
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content:center;
}

.music {
  /* background-color: #e7dbf3; */
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* tv components */
.TV::before { /*basic base*/
    content: "";
  width: 150px;
  height: 95px;
  background-color: #4f425f;
  border: 3px solid #49325a;
  border-radius: 10px;
  z-index: 6;
  position: absolute;
  text-align: left;
  box-shadow: 2px 9px 5px #231f24;
}
.TV::after { /*static screen */
  content: "";
  width: 110px;
  height: 70px;
  /* background-color: #1d1b22; */
  background: url(../../public/runbts_110x70.png);
  position: absolute;
  border-radius: 5px;
  border: 2px solid #715983;
  margin: 3px 30px 2px 6px;
  z-index: 6;
}

.tvStatic { /*static container*/
  height: 150px;
  width: 170px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index:7;
}
.tvStatic:hover { /*static moving*/
  width: 110px;
  height: 70px;
  margin: 3px 30px 2px 6px;
  position: relative;
  border-radius: 5px;
  background-image: repeating-radial-gradient(circle at 17% 32%, white, black 0.00085px);
  background-position: center;
  animation: back 5s linear infinite;
}

/* https://stackoverflow.com/questions/70208639/how-to-improve-an-animated-tv-static-effect-using-a-pure-css-gradient */
.tvStatic::before:hover{
  background-image: repeating-radial-gradient(circle at 17% 32%, rgb(255, 255, 255), black 0.00085px);
  background-position: center;
  animation: back 5s linear infinite;
}
@keyframes back {
    from {
    background-size: 100% 100%;
  }
  to {
    background-size: 200% 200%;
  }
}

.tvDetails { /*the left tv foot*/
  position: absolute;
  content: "";
  width: 14px;
  height: 10px;
  background-color: #313030;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-color: #49325a;
  left: 45px;
  bottom: 25px;
  z-index: 6;
}

.tvDetails::before { /*the right tv foot*/
  position: absolute;
  content: "";
  width: 14px;
  height: 10px;
  background-color: #313030;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  right: -90px;
  z-index: 6;
}

.tvDetails::after { /*tv btn*/
  width:20px;
  height: 20px;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: -40px;
  right: -107px;
  background-color: #d4d6d6;
  z-index: 7;
  box-shadow: 2px 2px 5px #3f294e;
}

/* magazines components */
.mags {
  height: 115px;
  width: 85px;
  background-color: #a63838;
  background: url(../../public/esquireCover_85x115.jpg);
  rotate: -45deg;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content:center;
  box-shadow: 0px -1px 10px 4px #231f24
}
.mags::before {
  content: "";
  height: 113px;
  width: 85px;  
  background-color: #313030;
  background: url(../../public/timeCover_85x113.jpg);
  rotate: 20deg;
  position: absolute;
  box-shadow: 0px 1px 10px 2px #231f24;
}
.mags::after {
  content: "";
  height: 113px;
  width: 90px;
  background-color: #784646;
  background: url(../../public/timeCover2_90x113.jpg);
  rotate: 50deg;
  position: absolute;
  box-shadow: 0px 1px 10px 1px #231f24;
}

.mags:hover {
  animation: shake 1s linear infinite;
}
@keyframes shake{
  0%{
      transform: rotate(0deg);
  }
  25%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(-10deg);
  }
  75%{
    transform: rotate(10deg);
  }
  100%{
    transform: rotate(00deg);
  }
}

/* music components */
.cd { /*cd*/
  content: "";
    margin: 0 auto;
    height: 90px;
    width: 90px;
    background: url(../../public/answer_90x90.jpg);
    border-radius: 50%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #94969b;
    box-shadow: 2px 2px #bbbcc0;
}
.cd::before { /*white circle in cd*/
  position: relative;
  margin: 0 auto;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #e7eaea;
  border-radius: 50%;
}
.cd::after { /*black dot in cd*/
  justify-content: center;
  margin: 0 auto;
  content: "";
  height: 7px;
  width: 7px;
  background-color: #313030;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0px 0px 7px 2px #97989c;
}

.cdContainer { /*container around whole white part so cd spins*/
  height: 120px;
  width: 120px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cdContainer:hover {
  /* circular rotation for cd */
  animation: cdrotate 1.75s linear; /*infintie*/
}

@keyframes cdrotate{
  0%{
      transform: rotate(0deg);
  }
  50%{
      transform: rotate(180deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.cdPlayer { /*cd player base and polka dots*/
  content: "";
  height: 125px;
  width: 125px;
  margin: auto 0;
  border-radius: 12px;
  display: flex;
  background: #e1e3e3;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: radial-gradient(#b2afaf 20%, transparent 20%),
                    radial-gradient(#e0dede 20%, transparent 20%);
  background-position: 0 0, 50px 50px;
  background-size: 10px 10px;
  box-shadow: 2px 9px 5px #231f24;

  border: 1px solid rgb(156, 152, 152);
}
.cdPlayer::before { /*the greyish circle around cd*/
  content: "";
  height: 105px;
  width: 105px;
  margin: auto 0;
  border-radius: 50%;
  display: flex;
  position: absolute;
  border: 1px solid #aba9ad;
  background: radial-gradient(#9b99a1, 45%, #e7eaea);
}

/* FOR NAVBAR STYLING */
.nav {
  /* background-color: #f6f6f6; */
  /* display: flex;
  position: absolute;
  align-items: center;
  padding: 20px 20px 0px 20px;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  top: 30px;
  /* box-shadow: 0 0 3px 0 #3366cc; 
  border-bottom: 2px solid #A188BE;
  z-index: 1; */
  
  display: inline-flex;
  position: absolute;
  align-items: center;
  padding: 20px 20px 0px 20px;
  height: auto;
  width: auto;
  overflow-wrap: break-word;
  top: 0;
  /* box-shadow: 0 0 3px 0 #3366cc; */
  border-bottom: 2px solid #A188BE;
  z-index: 1;
  /* left: 37%; */
  /* right: 50%;*/
}
.nav_list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 10px;
}
.nav_list * {
  display: inline;
  color: #A188BE;
  text-decoration: none;
  margin: 10px 5px;
}
.longWord {
  display: inline-block;
  /* overflow-wrap: normal; */
}
.logo {
  padding-left: 20px;
}

 /* FOR MAINVID PAGE STYLING */
.mainVid {
  /* top:150px; */
  /* height: 100vh; */
  width: -webkit-fill-available;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* display: block; */
  align-items: center;
  justify-content: center;
}
.contentMainVid {
  /* top: 300px;
  margin-top: 90px;
  display: inline-block;
  position: relative;
  left: 20px; */

  top: 120px;
  display: inline-block;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: -webkit-fill-available;
}

 /* carousel styling */
 .carouselContainer {
  /* position: relative; */
  position: relative;
    display: inline-flex;
    /* align-items: center; */
    /* justify-content: center; */
    height: 450px;
    width: 810px;
    /* left: 18%; */
    /* right: 10px; */
    margin: 10px 30px 10px 30px;
 }
 .pos {
  position: absolute;
  /* left: 0;
  top: 0;
  bottom: 0;
  right: 0; */
 }
 .caraViewport {
  position: absolute;
  height: 450px;
  width: 800px;
  padding: 0px;
  margin: 0px;
  display: flex;
  
 }
.slide {
  position: absolute;
  height: 450px;
  width: 800px;
  background-color: #61dafb;
  list-style-type: none;
  display: flex;
}
/*  */
.section {
  margin: 10px;
}

 /* diff carousel items */
.col2 {
  background-color: #553f6e;
}
.col3 {background-color: #a63838;}

/* carousel btns */
.btns {
  top: 450px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
}
.btnRecc {
  margin: 0px 10px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #61dafb;
  list-style-type: none;
  background-clip: content-box;
}

/* for list shows */
.showList {
  display: flex;
  overflow-x: scroll;
  margin: 0 auto;
  /* left: 100px; */
  /* right: 100px; */
  width: 90%;
  position: relative;
} 
.scrolling {
  display: flex;
  margin-left: 17px;
  margin-top: 40px;
} 
::-webkit-scrollbar {
  width: 10px;
}
.indivShow {
  display: block;
    /* position: absolute; */
    height: 200px;
    width: 170px;
    margin: 0px 3px;
    background-color: #61dafb;
}